aiohttp==3.7.4.post0
multidict==5.2.0
attrs==21.2.0
async-timeout==3.0.1
yarl==1.7.2
typing_extensions==4.0.1
chardet==4.0.0
idna==3.3
urllib3==1.26.7
pytz==2021.3
Pillow==8.4.0
discord.py==1.7.3
discord==1.7.3












